{% extends "bases/base.html" %}
{% block title %}Reset Password{% endblock %}

{% block body %}
    <div class="container d-flex flex-column">
        <div class="row vh-100">
            <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 mx-auto d-table h-100">
                <div class="d-table-cell align-middle">

                    {% if data.user is not empty %}
                        <div class="text-center mt-4">
                            <h1 class="h2">Reset password</h1>
                            <p class="lead">
                                Reset your password
                            </p>
                        </div>

                        <div class="card">
                            <div class="card-body">
                                <div class="m-sm-3">
                                    <form id="reset-password-form">
                                        <div class="mb-3">
                                            <label class="form-label">Password</label>
                                            <input class="form-control form-control-lg" type="password" name="password" placeholder="Enter password" required/>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Retype Password</label>
                                            <input class="form-control form-control-lg" type="password" name="passwordRetype" placeholder="Retype password" required/>
                                        </div>
                                        <div class="d-grid gap-2 mt-3">
                                            <button id="reset-password-button" type="submit" value="submit" class="btn btn-lg btn-primary">Reset password</a>
                                        </div>
                                        <input type="hidden" name="Id_admin_users" value="{{ data.user.Id_admin_users }}" />
                                        <input type="hidden" name="reset_token" value="{{ data.user.reset_token }}" />
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="text-center mt-4">
                            <h1 class="h2">Reset password</h1>
                            <p class="lead">
                                Enter your email to reset your password.
                            </p>
                        </div>

                        <div class="card">
                            <div class="card-body">
                                <div class="m-sm-3">
                                    <form id="reset-password-request-form">
                                        <div class="mb-3">
                                            <label class="form-label">Email</label>
                                            <input class="form-control form-control-lg" type="username" name="username" placeholder="Enter your email" required/>
                                        </div>
                                        <div class="d-grid gap-2 mt-3">
                                            <button id="reset-password-request-button" type="submit" value="submit" class="btn btn-lg btn-primary">Reset password</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    
                    <!--
                        <div class="text-center mb-3">
                        Don't have an account? <a href="pages-sign-up.html">Sign up</a>
                    </div>
                    -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="/public/assets/js/reset-password.js"></script>
{% endblock %}