<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" type="image/x-icon" href="/public/assets/img/fav-icon.png">
 
  <title>{{ base.site_profile.page_title_base }} - {% block title %}{% endblock %}</title>
 
  <!-- AdminKit CSS file -->
  <link href="/app/Modules/adminkit-pro/dist/css/dark.css" rel="stylesheet">
  <!-- <script src="/app/Modules/adminkit-pro/dist/js/settings.js"></script> -->
</head>

<body data-theme="default" data-layout="fluid" data-sidebar-position="left" data-sidebar-layout="default">
    <main class="d-flex w-100 h-100">
        {% block body %}{% endblock %}
    </main>


    <script src="/app/Modules/jquery/jquery-3.7.0.min.j.js"></script>
    <script src="/app/Modules/adminkit-pro/dist/js/app.js"></script>
    <script src="/public/assets/js/app.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            {% if messages is not empty %}
                {% for message in messages %}
                    ShowAlert('{{ message.message }}', '{{ message.type }}');
                {% endfor %}
            {% endif %}
        });
    </script>

    {% block scripts %}{% endblock %}
</body>