<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
 
  <title>{{ base.site_profile.page_title_base }} - {{ base.page_title }}</title>


  <!-- AdminKit CSS file -->
  <link href="/app/Modules/adminkit-pro/dist/css/dark.css" rel="stylesheet">
  <!-- <link href="/app/Modules/adminkit-pro/dist/css/light.css" rel="stylesheet"> -->
  <link rel="icon" type="image/x-icon" href="/public/assets/img/fav-icon.png">
  <style>
    body {
        opacity: 0;
    }
</style>

  {% block head %}{% endblock %}

</head>
<!--
    theme options: Dark, Light, Colored, Default
    position: left, right
    layout: default, compact
-->
<body data-theme="dark" data-layout="fluid" data-sidebar-position="left" data-sidebar-layout="default">
    <div class="wrapper">
        <nav id="sidebar" class="sidebar js-sidebar">
			<div class="sidebar-content js-simplebar">
				<a class="sidebar-brand" href="/">
					<span class="sidebar-brand-text align-middle">
						{{ base.site_profile.site_name }}
						<!-- <sup><small class="badge bg-primary text-uppercase">Pro</small></sup> -->
					</span>
					<svg class="sidebar-brand-icon align-middle" width="32px" height="32px" viewBox="0 0 24 24" fill="none" stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="miter" color="#FFFFFF" style="margin-left: -3px">
						<path d="M12 4L20 8.00004L12 12L4 8.00004L12 4Z"></path>
						<path d="M20 12L12 16L4 12"></path>
						<path d="M20 16L12 20L4 16"></path>
					</svg>
				</a>

				<div class="sidebar-user">
					<div class="d-flex justify-content-center">
						<div class="flex-shrink-0">
							<img src="{% if session.profile_image is not empty %}/files/profile-images/{{ session.profile_image }}{% else %}/public/assets/img/blank-profile.webp{% endif %}" class="avatar img-fluid rounded me-1" alt="Charles Hall" />
						</div>
						<div class="flex-grow-1 ps-2">
							<a class="sidebar-user-title dropdown-toggle" href="#" data-bs-toggle="dropdown">
								{{ session.name }}
							</a>
							<div class="dropdown-menu dropdown-menu-start">
								<a class="dropdown-item" href="/profile"><i class="align-middle me-1" data-feather="user"></i> Profile</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="/logout">Log out</a>
							</div>

							<div class="sidebar-user-subtitle">{{ session.title }}</div>
						</div>
					</div>
				</div>

				<ul class="sidebar-nav">
                    {% if base.menu.main %}
                        {% for item in base.menu.main %}
                            <li class="sidebar-item">
                                <a  {% if item.sub_items is not empty %}data-bs-target="#{{ item.list_name }}" data-bs-toggle="collapse" class="sidebar-link collapsed"{% else %}class="sidebar-link" href="{{ item.link }}"{% endif %}>
                                    <i class="align-middle" data-feather="{{ item.icon }}"></i> <span class="align-middle">{{ item.name }}</span>
                                </a>
                                {% if item.sub_items is not empty %}
                                    <ul id="{{ item.list_name }}" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
                                        {% for sub_item in item.sub_items %}
                                            <li class="sidebar-item"><a class="sidebar-link" href="{{ sub_item.link }}">{{ sub_item.name }}</a></li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endfor %}
                    {% endif %}

					{# <li class="sidebar-header">Pages</li> #}
				</ul>
                <!--
				<div class="sidebar-cta">
					<div class="sidebar-cta-content">
						<strong class="d-inline-block mb-2">Weekly Sales Report</strong>
						<div class="mb-3 text-sm">
							Your weekly sales report is ready for download!
						</div>

						<div class="d-grid">
							<a href="https://adminkit.io/" class="btn btn-outline-primary" target="_blank">Download</a>
						</div>
					</div>
				</div>
			</div>
            -->
		</nav>

        <div class="main">
            <nav class="navbar navbar-expand navbar-light navbar-bg">
				<a class="sidebar-toggle js-sidebar-toggle">
					<i class="hamburger align-self-center"></i>
				</a>
                {% if base.site_profile.show_search == true %}
                    <form class="d-none d-sm-inline-block">
                        <div class="input-group input-group-navbar">
                            <input type="text" class="form-control" placeholder="Search.." aria-label="Search">
                            <button class="btn" type="button">
                                <i class="align-middle" data-feather="search"></i>
                            </button>
                        </div>
                    </form>
                {% endif %}
                {% if base.site_profile.show_mega_menu == true or base.site_profile.show_resources == true  %}
                    <ul class="navbar-nav d-none d-lg-flex">
                        {% if base.site_profile.show_mega_menu == true %}
                            <li class="nav-item px-2 dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="megaDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    Mega Menu
                                </a>
                                <div class="dropdown-menu dropdown-menu-start dropdown-mega" aria-labelledby="megaDropdown">
                                    <div class="d-md-flex align-items-start justify-content-start">
                                        <div class="dropdown-mega-list">
                                            <div class="dropdown-header">UI Elements</div>
                                            <a class="dropdown-item" href="#">Alerts</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endif %}

                        {% if base.site_profile.show_resources == true %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="resourcesDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true"aria-expanded="false">
                                    Resources
                                </a>
                                <div class="dropdown-menu" aria-labelledby="resourcesDropdown">
                                    <a class="dropdown-item" href="https://adminkit.io/" target="_blank"><i class="align-middle me-1" data-feather="home"></i> Homepage</a>
                                </div>
                            </li>
                        {% endif %}
                    </ul>
                {% endif %}
				<div class="navbar-collapse collapse">
					<ul class="navbar-nav navbar-align">
                        {% if base.site_profile.show_notifications == true %}
                            <li class="nav-item dropdown">
                                <a class="nav-icon dropdown-toggle" href="#" id="alertsDropdown" data-bs-toggle="dropdown">
                                    <div class="position-relative">
                                        <i class="align-middle" data-feather="bell"></i>
                                        <span class="indicator">4</span>
                                    </div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end py-0" aria-labelledby="alertsDropdown">
                                    <div class="dropdown-menu-header">
                                        4 New Notifications
                                    </div>
                                    <div class="list-group">
                                        <a href="#" class="list-group-item">
                                            <div class="row g-0 align-items-center">
                                                <div class="col-2">
                                                    <i class="text-danger" data-feather="alert-circle"></i>
                                                </div>
                                                <div class="col-10">
                                                    <div class="text-dark">Update completed</div>
                                                    <div class="text-muted small mt-1">Restart server 12 to complete the update.</div>
                                                    <div class="text-muted small mt-1">30m ago</div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="dropdown-menu-footer">
                                        <a href="#" class="text-muted">Show all notifications</a>
                                    </div>
                                </div>
                            </li>
                        {% endif %}

                        {% if base.site_profile.show_messages == true %}
                            <li class="nav-item dropdown">
                                <a class="nav-icon dropdown-toggle" href="#" id="messagesDropdown" data-bs-toggle="dropdown">
                                    <div class="position-relative">
                                        <i class="align-middle" data-feather="message-square"></i>
                                    </div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end py-0" aria-labelledby="messagesDropdown">
                                    <div class="dropdown-menu-header">
                                        <div class="position-relative">
                                            4 New Messages
                                        </div>
                                    </div>
                                    <div class="list-group">
                                        <a href="#" class="list-group-item">
                                            <div class="row g-0 align-items-center">
                                                <div class="col-2">
                                                    <img src="img/avatars/avatar-5.jpg" class="avatar img-fluid rounded-circle" alt="Vanessa Tucker">
                                                </div>
                                                <div class="col-10 ps-2">
                                                    <div class="text-dark">Vanessa Tucker</div>
                                                    <div class="text-muted small mt-1">Nam pretium turpis et arcu. Duis arcu tortor.</div>
                                                    <div class="text-muted small mt-1">15m ago</div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="dropdown-menu-footer">
                                        <a href="#" class="text-muted">Show all messages</a>
                                    </div>
                                </div>
                            </li>
                        {% endif %}

                        {% if base.site_profile.show_language == true %}
                            <li class="nav-item dropdown">
                                <a class="nav-flag dropdown-toggle" href="#" id="languageDropdown" data-bs-toggle="dropdown">
                                    <img src="img/flags/us.png" alt="English" />
                                </a>
                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="languageDropdown">
                                    <a class="dropdown-item" href="#">
                                        <img src="img/flags/us.png" alt="English" width="20" class="align-middle me-1" />
                                        <span class="align-middle">English</span>
                                    </a>
                                </div>
                            </li>
                        {% endif %}
                        {% if base.site_profile.show_maximize == true %}
                            <li class="nav-item">
                                <a class="nav-icon js-fullscreen d-none d-lg-block" href="#">
                                    <div class="position-relative">
                                        <i class="align-middle" data-feather="maximize"></i>
                                    </div>
                                </a>
                            </li>
                        {% endif %}
						<li class="nav-item dropdown">
							<a class="nav-icon pe-md-0 dropdown-toggle" href="#" data-bs-toggle="dropdown">
								<img src="{% if session.profile_image is not empty %}/files/profile-images/{{ session.profile_image }}{% else %}/public/assets/img/blank-profile.webp{% endif %}" class="avatar img-fluid rounded" alt="Charles Hall" />
							</a>
							<div class="dropdown-menu dropdown-menu-end">
								<a class="dropdown-item" href="/profile"><i class="align-middle me-1" data-feather="user"></i> Profile</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="/logout">Log out</a>
							</div>
						</li>
					</ul>
				</div>
			</nav>
            <main class="content">
                <div class="container-fluid p-0">{% block body %}{% endblock %}</div>
            </main>
            <footer class="footer">
				<div class="container-fluid">
					<div class="row text-muted">
						<div class="col-6 text-start">
							<p class="mb-0">
								<a href="https://adminkit.io/" target="_blank" class="text-muted"><strong>{{ base.site_profile.site_name }}</strong></a> &copy; {{ date|date("Y") }}
							</p>
						</div>
						<div class="col-6 text-end">
                            {% if base.menu.footer is not empty %}
                                <ul class="list-inline">
                                    {% for item in base.menu.footer %}
                                        <li class="list-inline-item">
                                            <a class="text-muted" href="{{ item.link }}">{{ item.name }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
						</div>
					</div>
				</div>
			</footer>
        </div>
    </div>

    <script src="/app/Modules/jquery/jquery-3.7.0.min.j.js"></script>
    <script src="/app/Modules/adminkit-pro/dist/js/app.js"></script>
    <script src="/public/assets/js/app.js"></script>


    <script type="text/javascript">
        $(document).ready(function(){
            {% if messages is not empty %}
                {% for message in messages %}
                    ShowAlert('{{ message.message }}', '{{ message.type }}');
                {% endfor %}
            {% endif %}
        });
    </script>


    {% block scripts %}{% endblock %}
</body>